body {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

div#container {
    margin: auto;
    padding-top: 20px;
    color: #444;
    text-align: center;
}

div#header {
    font: bold 18px/24px "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 40px;
    line-height: 40px;
}

div#start {
    width: 500px;
    text-transform: uppercase;
    padding-top: 50px;
    margin: auto;
}

div#start li a {
    font: bold 12px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    text-decoration:none;
    height: 35px;
    line-height: 35px;
    display: block;
    border-radius: 100px;
}

div#navigation{
    margin: auto;
    display: table;
    padding-top: 50px;
    padding-bottom: 75px;;
}

div#navigation ul li {
    width: 125px;
    float: left;
    border-left-color: #FFF;
}

div#navigation ul li a {
    font: bold 12px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    text-decoration: none;
    height: 35px;
    line-height: 35px;
    display:block;
    text-transform: uppercase;
}

.tableCommon {
    display: table;
    width: 850px;
    text-transform: uppercase;
    font: bold 12px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: auto;
}

.rowHeader, .rowRegular {
    display: table-row;
}

div.tableCommon > div.rowHeader > div {
    font: bold 20px/26px "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    padding-top: 5px;
    padding-bottom: 5px;
}

div.tableCommon > div.rowHeader > div,
div.tableCommon > div.rowRegular > div {
    display: table-cell;
}
div#header, div#start li a,
div#navigation ul li,
div.tableCommon > div.rowHeader > div,
div.tableCommon > div.rowRegular > div {
    border: 1px solid #BABABA;
    background: #F7F7F7; /* Old browsers */
    background: -moz-linear-gradient(top, #F7F7F7 0%, #EDEDED 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F7F7F7), color-stop(100%,#EDEDED)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F7F7F7 0%,#EDEDED 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F7F7F7 0%,#EDEDED 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F7F7F7 0%,#EDEDED 100%); /* IE10+ */
    background: linear-gradient(top, #F7F7F7 0%,#EDEDED 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F7F7F7', endColorstr='#EDEDED',GradientType=0 ); /* IE6-9 */
}

div#start li a:hover {
    color: #FFF;
    border-radius: 100px;
}

div#start li a:hover, div#navigation ul li:hover, div#navigation ul li.current {
    border-color: #262626 !important;
    background: #4D4D4D; /* Old browsers */
    background: -moz-linear-gradient(top, #4D4D4D 0%, #262626 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4D4D4D), color-stop(100%,#262626)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4D4D4D 0%,#262626 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4D4D4D 0%,#262626 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4D4D4D 0%,#262626 100%); /* IE10+ */
    background: linear-gradient(top, #4D4D4D 0%,#262626 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4D4D4D', endColorstr='#262626',GradientType=0 ); /* IE6-9 */
}

div#navigation ul li a:hover,
div#navigation ul li.current a {
    color: #FFF;
}

div#navigation ul li:first-child {
    border-left-color: #BABABA;
    border-radius: 100px 0 0 100px;
}

div#navigation ul li:last-child {
    border-radius: 0 100px 100px 0;
}